<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="mainDiv">
        <form action="/" method="POST" class="mainForm">
            <input id="userName" placeholder="Enter your Username" name="username" type="text">
            <input id="password" placeholder="Enter Your password" name="password" type="password">
            <input id="homeSubmit" value="Log In" name="" type="submit">
        </form>
    </div>
</body>
</html>